body {
	font-family: Arial, sans-serif;
	text-align: center;
}

h1 {
	margin-top: 50px;
}

input {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	margin-top: 20px;
}

button {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	margin-left: 10px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

#result {
	margin-top: 50px;
}
